{% extends 'base.html' %} {% load static %} {% load bootstrap4 %} {% load
crispy_forms_tags %} {% block head %} {% endblock head %} {% block body %}
<section class="service" id="service">
  <div class="content">
    <div class="title">
      <h3>Agence</h3>
    </div>

    <a href="">
      <div class="card">
        <div class="icon">
          <img src="" alt="" class="photo" />
        </div>

        <div class="name">
          <h3>Abu Hetta</h3>
        </div>
      </div>
    </a>

    <a href="">
      <div class="card">
        <div class="icon">
          <img src="" alt="" class="photo" />
        </div>

        <div class="name">
          <h3>Abo Takeyya</h3>
        </div>
      </div>
    </a>

    <a href="">
      <div class="card">
        <div class="icon">
          <img src="" alt="" class="photo" />
        </div>

        <div class="name">
          <h3>El-hady</h3>
        </div>
      </div>
    </a>
  </div>
</section>
{% endblock body %}
