{% extends 'base.html' %}
{% load static %}

{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% block head %}

{% endblock head %}
{% block body %}
    <section class="service" id="service">
        <div class="content">
            <div class="title">
                <h3>Party Space</h3>
            </div>

            <a href="">
                <div class="card">
                    <div class="icon">
                        <img src="" alt="" class="photo">
                    </div>

                    <div class="name">
                        <h3>Minya Sports Club</h3>
                    </div>
                </div>
            </a>

            <a href="">
                <div class="card">
                    <div class="icon">
                        <img src="" alt="" class="photo">
                    </div>

                    <div class="name">
                        <h3>Armed Forces Club</h3>
                    </div>
                </div>
            </a>

            <a href="">
                <div class="card">
                    <div class="icon">
                        <img src="" alt="" class="photo">
                    </div>

                    <div class="name">
                        <h3>Polic Club</h3>
                    </div>
                </div>
            </a>

            <a href="">
                <div class="card">
                    <div class="icon">
                        <img src="" alt="" class="photo">
                    </div>

                    <div class="name">
                        <h3>Minya Engineers Club</h3>
                    </div>
                </div>
            </a>

            <a href="">
                <div class="card">
                    <div class="icon">
                        <img src="" alt="" class="photo">
                    </div>

                    <div class="name">
                        <h3>Nany Club</h3>
                    </div>
                </div>
            </a>

            <a href="">
                <div class="card">
                    <div class="icon">
                        <img src="" alt="" class="photo">
                    </div>

                    <div class="name">
                        <h3>Judges Club</h3>
                    </div>
                </div>
            </a>

            <a href="">
                <div class="card">
                    <div class="icon">
                        <img src="" alt="" class="photo">
                    </div>

                    <div class="name">
                        <h3>Medical Professions Club</h3>
                    </div>
                </div>
            </a>

            <a href="">
                <div class="card">
                    <div class="icon">
                        <img src="" alt="" class="photo">
                    </div>

                    <div class="name">
                        <h3>Aviation Club</h3>
                    </div>
                </div>
            </a>
        </div>
    </section>
    {% endblock body %}