{% extends 'base.html' %}
{% load static %}

{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% block head %}

{% endblock head %}
{% block body %}
    <section class="service" id="service">
        <div class="title">
            <h3>Hall</h3>
        </div>

        <div class="content">
            <a href="">
                <div class="card">
                    <div class="icon">
                        <img src="" alt="" class="photo">
                    </div>

                    <div class="name">
                        <h3>Horus</h3>
                    </div>
                </div>
            </a>

            <a href="">
                <div class="card">
                    <div class="icon">
                        <img src="" alt="" class="photo">
                    </div>

                    <div class="name">
                        <h3>Grand Aton</h3>
                    </div>
                </div>
            </a>

            <a href="">
                <div class="card">
                    <div class="icon">
                        <img src="" alt="" class="photo">
                    </div>

                    <div class="name">
                        <h3>Etab</h3>
                    </div>
                </div>
            </a>

            <a href="">
                <div class="card">
                    <div class="icon">
                        <img src="" alt="" class="photo">
                    </div>

                    <div class="name">
                        <h3>Armed Forces club</h3>
                    </div>
                </div>
            </a>

            <a href="">
                <div class="card">
                    <div class="icon">
                        <img src="" alt="" class="photo">
                    </div>

                    <div class="name">
                        <h3>police club</h3>
                    </div>
                </div>
            </a>

            <a href="">
                <div class="card">
                    <div class="icon">
                        <img src="" alt="" class="photo">
                    </div>

                    <div class="name">
                        <h3>Grand hayat(close)</h3>
                    </div>
                </div>
            </a>

            <a href="">
                <div class="card">
                    <div class="icon">
                        <img src="" alt="" class="photo">
                    </div>

                    <div class="name">
                        <h3>Grand hayat(open)</h3>
                    </div>
                </div>
            </a>
        </div>
    </section>
{% endblock %}

