{% extends 'base.html' %}
{% load static %}

{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% block head %}

{% endblock head %}
{% block body %}

    <section class="service" id="service">
        <div class="content">
            <div class="title">
                <h3>Makup-Artist</h3>
            </div>    

            <a href="hall.html">
                <div class="card">
                    <div class="circle">
                        <img src="Makup-artist/pexels-alena-darmel-8990726.jpg" alt="" class="photo">
                    </div>

                    <div class="name">
                        <h3>Yasmeen Mokhtar</h3>
                    </div>
                </div>
            </a>

            <a href="">
                <div class="card">
                    <div class="circle">
                        <img src="Makup-artist/pexels-ali-pazani-2681751.jpg" alt="" class="photo">
                    </div>

                    <div class="name">
                        <h3>Nada Alaa</h3>
                    </div>
                </div>
            </a>

            <a href="">
                <div class="card">
                    <div class="circle">
                        <img src="Makup-artist/pexels-ali-pazani-4407688.jpg" alt="" class="photo">
                    </div>

                    <div class="name">
                        <h3>Meral Ismail</h3>
                    </div>
                </div>
            </a>

            <a href="">
                <div class="card">
                    <div class="circle">
                        <img src="Makup-artist//pexels-cottonbro-studio-4154199.jpg" alt="" class="photo">
                    </div>

                    <div class="name">
                        <h3>Arwa Gamal</h3>
                    </div>
                </div>
            </a>

            <a href="">
                <div class="card">
                    <div class="circle">
                        <img src="Makup-artist/pexels-engin-akyurt-1642228.jpg" alt="" class="photo">
                    </div>

                    <div class="name">
                        <h3>Haidy Mohamed</h3>
                    </div>
                </div>
            </a>

            <a href="">
                <div class="card">
                    <div class="circle">
                        <img src="Makup-artist/pexels-arsham-haghani-3536991.jpg" alt="" class="photo">
                    </div>

                    <div class="name">
                        <h3>Maha Abo Dola</h3>
                    </div>
                </div>
            </a>
        </div>
    </section>
    {% endblock body %}